body{
    margin: 0px;
    padding : 0px;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    color: whitesmoke;
}

header{
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding-block: 10px;
    padding-inline: 100px;
    margin-bottom: 10px;
}

#root{
    height: 100%;
    width: 100%;
    background-color:white;
    display: flex;
    align-items: center;
    padding-block:10px;
    box-sizing: border-box;
    flex-direction: column;
}

#root h1{
    color: white;
    padding-block: 10px;
    margin: 0px;
}

#root h4{
    color: white;
    padding-bottom: 10px;
    margin-block: 0px;
}

.container {
    width: 100%;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
  }


#game{
    width: 60%;
    height: 60%;
    border-radius: 20%;
    position: relative;
}

#game p{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
}

#shapeNumber{
    top: -30px;
    left: -10px;
}

#areaOccupied{
    top: -30px;
    right: -10px;
}

canvas{
    border-radius: 20px;
}

.buttons{
    background-color: aliceblue;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    overflow : hidden
}

.controlls{
     width: 80%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-top: 30px;

}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 30%;
    padding: 10px

}

.controllButton{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.controllButton:active {
    background-color: gray;
}


.controllButton img{
    height: 15px;
    width: 15px;
}

.controllButton:active img {
    height: 10px;
    width: 10px;
}

@media (max-width: 768px) {
    #game{
        width: 90%;
        height: 70%;
    }
}